@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="mainer">
    <div class="block-bg block-under py-3 py-xl-5">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-md-100">
                <div class="col-12 col-md-6 wow fadeIn">
                    <div class="fs-24 fs-md-34 fw-bold mb-3">
                        Website đang được cập nhật<span class="animation-reload ms-1">
                            <span></span><span></span><span></span>
                        </span>
                    </div>
                    <div class="desc text-desc mb-3">
                        Chúng tôi sẽ cập nhật website một cách nhanh nhất để bạn có
                        một trải nghiệm hoàn hảo
                    </div>
                    <div class="fs-24 fw-semibold">
                        Xin lỗi vì sự bất tiện này !
                    </div>
                </div>
                <div class="col-12 col-md-6 wow fadeIn">
                    <div class="thumb-res square">
                        <img src="/css/skin/undercontrustion.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>